@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

.NavbarItems {
  // background-color: $main-color;
  // box-shadow: 0px 3px 3px $light-accent;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  transition: top 0.3s;
  z-index: 100;
}

.scrolling {
  // box-shadow: 0px 3px 10px grey;
  background-color: $dark-shade2;
  box-shadow: 0px 3px 3px $light-accent;
}

.hidden {
  top: -100%;
  transition: top 1s;
  transition-delay: 0.8s;
}

.navbar-logo {
  color: $light-shade;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  top: 1rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  column-gap: 0.8rem;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-left: 2rem;
  margin-top: 1.1rem;
  padding-bottom: 0;
}

.nav-links {
  color: $light-shade;
  border-left: 3px solid #fff;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
}

.nav-links:hover {
  background-color: $light-accent;
  color: #fff;
  transition: all 0.2s ease-out;
}

.menu-icon {
  color: $secondary-color;
  display: none;
}

.resumeBtn:hover {
  color: #fff;
}

.resumeBtnMobile {
  display: none;
}

@media screen and (max-width: 760px) {
  .NavbarItems {
    position: fixed;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    height: 100vh;
    position: absolute;
    right: -100%;
    top: 0;
    opacity: 1;
    transition: all 0.5s ease;
    margin-top: 0;
    // padding-bottom: 30rem;
  }

  .nav-menu.active {
    background-color: $main-color;
    box-shadow: -2px 4px 10px $main-color;
    margin-top: 0;
    right: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .nav-links {
    display: table;
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
    margin-bottom: 2rem;
    width: 100%;
  }

  .navbar-logo {
    position: absolute;
    left: 1.3rem;
    top: 2.5rem;
  }

  .menu-icon {
    color: $white-color;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    font-size: 3rem;
    display: block;
    cursor: pointer;
  }

  // .nav-links-mobile {
  //   display: block;
  //   padding: 20px;
  //   border-width: 3px;
  //   // text-align: start;
  //   // padding: 1.5rem;
  //   // margin: 2rem auto;
  //   // border-radius: 4px;
  //   // width: 80%;
  //   // background-color: white;
  //   // font-size:
  // }

  .resumeBtn {
    display: none;
  }

  .resumeBtnMobile {
    display: block;
    width: 100%;
    padding: 2rem;
    border-width: 3px;
    border-style: solid;
    font-size: 2rem;
  }

  .resumeBtn:hover {
    color: #fff;
  }
}
// .header {
//   font-family: 'Montserrat', sans-serif;
//   position: fixed;
//   width: 100%;
//   z-index: 5;
// }

// .navbar {
//   background-color: aqua;
//   height: 80px;
//   display: flex;
//   justify-content: end;
//   align-items: center;
// }

// .menu-bars {
//   margin-right: 2rem;
//   font-size: 2rem;
//   background: none;
// }

// .nav-menu {
//   background-color: aqua;
//   width: 250px;
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   position: fixed;
//   top: 0;
//   right: -100%;
//   transition: 0.4s;
// }

// .nav-menu.active {
//   right: 0;
//   transition: 350ms;
// }

// .nav-item {
//   align-items: center;
//   display: flex;
//   height: 60px;
//   justify-content: start;
//   list-style: none;
//   padding: 8px 0 8px 16px;
// }

// .nav-item a {
//   color: #fff;
//   font-family: 'Montserrat', sans-serif;
//   font-size: 1.1rem;
//   width: 95%;
//   height: 100%;
//   padding: 0 16px;
//   border-radius: 4px;
//   display: flex;
//   align-items: center;
//   text-decoration: none;
// }

// .nav-item a:hover {
//   background-color: brown;
// }

// .nav-menu-items {
//   width: 100%;
// }

// .navbar-toggle {
//   background-color: aqua;
//   width: 100%;
//   height: 80px;
//   display: flex;
//   justify-content: end;
//   align-items: center;
// }
//////////////
// .navbar-container {
//   background-color: #fff;
// }
// .navbar-brand {
//   font-family: 'Montserrat', sans-serif;
//   font-size: 3rem;
//   font-weight: 700;
// }

// #bootstrap-overrides .nav-link {
//   color: $primary-color;
// }
// .nav-link {
//   color: $primary-color;
//   font-family: 'Montserrat', sans-serif;
//   font-weight: 700;
// }

// .nav-link:hover {
//   border-width: 0.5rem;
//   border-color: #fff;
// }

// .show {
//   background-color: red;
//   width: 100px;
//   height: 100px;
// }
