#hero {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-bottom: 0px;
  background: $dark-shade;
  font-weight: 400;
  color: $light-shade;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;

  @include respond(phone) {
    padding: 0rem 3.2rem;
  }

  .rows {
    position: relative;
    top: -100%;
    width: 100%;
    display: flex;
    padding: 1rem 0;
    white-space: nowrap;
    font-size: 7rem;
    transform: rotate(-30deg);
  }

  .fa-icons {
    color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    padding: 0 0.5rem;
    user-select: none;
    cursor: default;
  }

  .fa-icons:hover {
    transition: 0s;
    color: $main-color2;
    box-shadow: 0 0 120px $main-color2;
  }

  .rows div {
    animation: animate1 80s linear infinite;
    animation-delay: -80s;
  }

  .rows div:nth-child(2) {
    animation: animate2 80s linear infinite;
    animation-delay: -40s;
  }

  @keyframes animate1 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes animate2 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-200%);
    }
  }

  .rows:nth-child(even) div {
    animation: animate3 80s linear infinite;
    animation-delay: -80s;
  }

  .rows:nth-child(even) div:nth-child(2) {
    animation: animate4 80s linear infinite;
    animation-delay: -40s;
  }

  @keyframes animate3 {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  @keyframes animate4 {
    0% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .hero-container {
    // width: 77%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 20;
    // background-color: $main-color;
    box-shadow: 0px 0px 20px $dark-shade;
    padding: 20px;
    border-radius: 10px;
  }

  .hero-greeting {
    font-size: 2.3rem;
    text-align: center;
    color: $light-shade;

    @include respond(phone-xs) {
      font-size: 1.8rem;
    }
  }

  .hero-title {
    font-size: 10rem;
    font-weight: 700;
    text-align: center;

    @include respond(tab-land) {
      font-size: 9rem;
    }
    @include respond(tab-port) {
      font-size: 7rem;
    }
    @include respond(phone) {
      font-size: 5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 4rem;
    }

    &-sub {
      font-size: 6.5rem;
      font-weight: 700;
      margin-bottom: 3.2rem;
      text-align: center;
      color: $light-shade;

      @include respond(tab-land) {
        font-size: 5.5rem;
      }
      @include respond(tab-port) {
        font-size: 4.4rem;
      }
      @include respond(phone) {
        font-size: 3.6rem;
        line-height: 1.5;
      }
      @include respond(phone-xs) {
        font-size: 3rem;
      }
    }
  }

  .hero-cta {
    display: flex;
    justify-content: center;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }

  .hero-side-element {
    width: 40px;
    bottom: 200px;
    left: auto;
    right: 40px;
    position: fixed;
    transform: rotate(90deg);
    background-color: hotpink;

    &:after {
      content: '';
      display: block;
      width: 1px;
      height: 90px;
      // margin: 0 auto;
      transform: rotate(90deg);
      background-color: greenyellow;
    }
  }
}
