// COLORS
// $primary-color: #02aab0;
// $secondary-color: hsl(203, 100%, 27%);

$primary-color: #6c9eb2;
$secondary-color: #6c9eb2;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

$main-color: #2c333e;

$light-shade: #f2f2f3;

$light-accent: #828c95;

$dark-accent: #737d88;

$dark-shade: #1c1d21;
/////////////////////////////////

$main-color2: #6c9eb2;

$light-shade2: #f1f1f2;

$light-accent2: #738491;

$dark-accent2: #1b78b7;

$dark-shade2: #1f3143;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
